.container {
  align-items: center;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(2, 156, 218, 1) 1px 5px 15px;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Tangerine , cursive;
  font-size: 20px;
  font-weight: 400;
  gap: 5px;
  height: 480px;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
  width: 320px;
}

img {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZebhdeVKnn97H0NKYlmWbD4ChwKi3UGtUaw&usqp=CAU');
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(1, 1, 1, 0.35) 1px 5px 15px;
  height: 150px;
  margin-top: -25px;
  position: relative;
  width: 280px;
}

.trunfo {
  background-color: rgba(2, 156, 218, 1);
  border-radius: 50%;
  box-shadow: rgba(2, 156, 218, 1) 1px 5px 15px;
  left: 8px;
  padding: 9px;
  position: absolute;
  rotate: -28deg;
  text-align: center;
  top: 3px;
  width: 80px;
  word-wrap: break-word;
}

h3 {
  font-size: 30px;
}

span {
  align-items: center;
  display: flex;
  font-size: 55px;
  font-weight: 700;
  justify-content: center;
  padding: 20px;
}

.btn {
  background: linear-gradient(90deg, rgba(2, 156, 218, 1) 17%, rgba(0, 212, 255, 1) 100%);
  bottom: 90px;
}
