.container {
  align-items: center;
  background-color: rgba(2, 156, 218, 1);
  border: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 40px;
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 50;
}

label {
  align-items: center;
  display: flex;
  justify-content: center;
}

.checkbox {
  margin-right: 10px;
}
